.books-slider{
  background: rgba(0, 55, 112, 0.7);
  .container{
    padding: 80px 0;
    .slider{
      //width:1020px;
      margin:auto;

      .left-btn{
        display: inline-block;
        max-width: 16px;
        img{
          transform: rotate(180deg);
        }
      }
      .right-btn{
        display: inline-block;
        max-width: 16px;
      }
      .display{
        display: inline-block;
        max-width: 890px;
        margin: 0 13px;


        img{
          width: 100%;
          box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4);
          border-radius: 8px;
        }
      }
    }
  }
  .vueperslides {
    max-width: 900px;
    margin: auto;
  }
  .vueperslide.vueperslide--active.vueperslide--visible{
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
  }
  .vueperslides__arrows .vueperslides__arrow.vueperslides__arrow--next{
    margin-right:-56px;
    &:focus{
      outline: none!important;
    }
    svg{
      color:white;
    }
  }
  .vueperslides__arrows .vueperslides__arrow.vueperslides__arrow--prev{
    &:focus{
      outline: none!important;
    }
    margin-left:-56px;
    svg{
      color:white;
    }
  }
}

@media screen and(max-width: 450px) {
  .slider{
    width:100%;
    max-width: 100%;
  }
  .left-btn,.right-btn{
    width: 21px !important;
    padding: 0 5px;
    img{
      width:11px;
    }
  }
  .display{
    width:85% !important;
    margin: 0 !important;

    img{
      width:100%;
    }
  }
}