.contests{
    .container{
      margin: 60px auto;
    }

      position: relative;
  ul>li{
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 40px;
    display: inline-flex;
    &:before{
      content:'•';
      padding: 10px;
      margin-top: -14px;
      font-style: normal;
      font-weight: 900;
      font-size: 42px;
      line-height: 29px;
      color: #c90c0f;
    }
  }

  img{
    width:100%;
    padding: 0 25px;
  }

}

@media screen and (max-width: 450px){
  .contests{

  }
}