.contests{
    .container{
      margin: 60px auto;
    }

      position: relative;
  ul{
    padding-left:0;
    li{
      list-style: none;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      padding-bottom: 40px;
      display: inline-flex;
      &:before{
        content:'•';
        padding: 10px;
        margin-top: -14px;
        font-style: normal;
        font-weight: 900;
        font-size: 42px;
        line-height: 29px;
        color: #c90c0f;
      }
    }

  }

  img{
    width:100%;
    padding: 0 25px;
  }

}
@media screen and (max-width: 768px){
  .contests{
    .container{
      margin: 40px auto 0 auto;
      img{
        padding-top:40px;
      }
    }
  }
}
@media screen and (max-width: 450px){
  .contests{
    .container{
      margin: 20px auto 0 auto;
    }
      ul{
        padding-left: 0;
      }
    img{
      padding: 0 25px 10px 25px;
    }
  }
}