.contents{
  .container{
    padding: 50px 0;
  }
  h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    margin-left: 15px;
    color: #0080C9;
    text-transform: uppercase;
    text-align: left;
  }

  .meta{
    max-width: 1024px;
    margin: auto;
    padding-top:40px;
    .count{
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-align: center;

      color: #0080C9;
    }
    .details{
      padding-top: 10px;
      font-style: normal;
      font-weight: 900;
      font-size: 21px;
      line-height: 26px;
      text-align: center;

      color: #1D1D1B;
      ul{
        margin:0;
        li{
          display: inline-block;
          font-weight: 500;
          &:before{
            content:'•';
            font-weight: 900;
            font-size: 21px;
            line-height: 26px;
            text-align: center;
            color: #1D1D1B;
            padding: 0 10px;
          }
        }
      }
    }
  }

  .programs{
    li{
      list-style: none;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;

      color: #000000;
      margin: 14px 0;
      display: inline-flex;

      &:before{
        content:'•';
        padding: 10px;
        margin-top: -14px;
        font-style: normal;
        font-weight: 900;
        font-size: 42px;
        line-height: 29px;
        color: #c90c0f;
      }
    }
    img{
      display: block;
      margin: auto;
      padding: 65px 0;
    }
  }
}
@media screen and (max-width: 768px){
  .contents{
    .container.programs{
      padding: 0;

      img{
        padding:10px 0;
      }
    }
    .meta {
      padding: 0 20px;

    }
  }
}
@media screen and (max-width: 450px){
  .contents{
    h2{
      font-size: 24px;
      line-height: 29px;
      margin-left:15px;
      width:80%;
      padding-top:20px;
    }
    .container{
      padding:0;
      .row{
        max-width: 100%;
      }
    }

    .count{
      font-size: 18px !important;
      line-height: 22px !important;
      padding-left:30%;
      margin-right: 0!important;
      text-align: right !important;

    }
    .details{
      font-size: 14px !important;
      line-height: 16px !important;
      padding: 10px;
      text-align: right !important;
      ul{
        padding: 0!important;
      }

    }
    .programs{
      .row{
        margin:0;
      }
      img{
        padding: 10px 0;
        width:100%;
        margin: auto;
        display: block;
      }
      ul{
        padding:0 !important;
      }
      ul>li{
        font-size: 16px !important;
        line-height: 20px !important;
        &:before{
          padding: 6px !important;
          font-size: 33px;
        }
      }
    }
  }

}