.footer{
  background: #003770;
  height: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #FFFFFF;
  padding: 24px;

  img{
    width: 153px;
    display: block;
    margin-top: -15px;
  }

  .tel{
    padding-bottom:20px;
  }
}

@media screen and (max-width: 375px){
  .footer{
    display: none;
  }
}