.footer{
  background-color: #003770 !important;
  height: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #FFFFFF;
  padding: 24px;

  .container{
    max-width: 1170px !important;
  }

  img{
    width: 153px;
    display: block;
    margin-top: -15px;
  }

  .tel{
    //padding-bottom:20px;
  }
}

@media screen and (max-width: 450px){
  .footer{
    height: 268px;
    text-align: center;
    padding: 14px;
    img{
      display: block;
      margin: auto;
    }
    .tel{
      padding-top:10px;
    }
  }

}