.master-classes{
  margin-bottom: 70px;
  background-color: #1D5DA8;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 26px;

  .pic, .text{
    padding-bottom:15px;
  }
  .pic{
    cursor: pointer;
    &:after{
      background: url('/img/youtube.png') no-repeat center;
      content:'';
      display: block;
      width: 100px;
      height: 70px;
      position: absolute;
      top: 118px;
      left: 178px;
    }
    &:hover{
      &:after{
        background: url('/img/youtube-red.png') no-repeat center;
      }
    }
  }
 

  .container{
    padding: 60px 15px;
    img{
      border-radius: 8px;
      width:100%;
    }
  }

}

@media screen and (max-width: 768px){
  .master-classes .pic:after{
    top: 76px;
    left: 136px;
  }
}


@media screen and (max-width: 450px){
  .master-classes{
    .container{
      padding: 15px;
      font-size: 16px !important;
      line-height: 20px !important;

      img{
        max-width: 100%;
        border-radius: 8px;
      }
    }
    .pic:after{
      top: 90px;
      left: 160px;
    }
  }

}

@media screen and (max-width: 375px){
  .master-classes{
    .pic:after{
      top: 80px;
      left: 140px;
    }
  }
}