.methodics{
  .container{
    height: 440px;
    padding: 100px 0 0 0;
    margin-bottom: 50px;

    img{
      padding-left: 50px;
    }

    ul>li{
      list-style: none;
      font-weight: 500;
      font-size: 21px;
      line-height: 26px;
      padding-bottom: 20px;
      display: inline-flex;
      &:before{
        content:'•';
        padding: 10px;
        margin-top: -14px;
        font-style: normal;
        font-weight: 900;
        font-size: 42px;
        line-height: 29px;
        color: #c90c0f;
      }
    }
  }
}

@media screen and (max-width: 450px){
  .methodics{

    .container {
      padding: 0;
      height: auto;
      .row{
        max-width: 100%;
      }

      img {
        width: 80%;
        padding-top:10px;
        padding-bottom: 30px;
      }

      ul > li {
        font-size: 16px !important;
        line-height: 20px !important;
        &:before{
          padding: 6px !important;
          font-size: 33px;
        }
      }
    }
  }
}