.principles{
  .container{
    padding: 50px 0;
  }
  h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    margin-left: 15px;
    color: #0080C9;
  }

  .info-block{
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 18px;
    margin: 20px auto;
    width: 448px;
    height: 280px;
    .title{
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;

      color: #009FE1;
      h3{
        display: inline;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;

        color: #009FE1;
      }
    }
    .text{
      padding-top: 20px;
    }
  }
}


@media screen and (max-width: 450px){
  .principles{
    .container{
      padding: 20px 0;
    }
    .row{
      max-width: 100%;
    }


    h2{
      font-size: 24px;
      line-height: 29px;
      margin-left: 15px !important;
    }
    .info-block{
      background: transparent;
      box-shadow: none;
      border-radius: 0;
      font-size: 16px;
      line-height: 20px;
      max-width: 100% !important;
      margin:0;
      height: auto;
      .title{
        h3{
          font-size: 18px !important;
          line-height: 22px !important;
        }

        border-bottom: 2px solid #1D5DA8;
        padding-bottom: 10px;
      }
    }
  }
}