.results{
  .container{
    padding: 50px 0;




    h2{
      margin-left: 10%;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      /* identical to box height */

      color: #0080C9;
    }
    .content{

      background: url("/img/bg-algo-path.png") no-repeat center;
      margin: 50px auto;
      padding-top: 40px;

      height: 800px;
      .info-box{
        margin-bottom: 50px;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 26px;

        color: #000000;
        &.right{
          padding: 0 10% 0 43%;
        }

        &.left{
          padding: 0 43% 0 10%;
        }
      }

    }

  }
}

@media screen and (max-width: 375px){
  .results{
    display: none;
  }
}