.results{
  .container{
    padding: 50px 0;




    h2{
      margin-left: 15px;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      /* identical to box height */

      color: #0080C9;
    }
    .content{

      background: url("/img/bg-algo-path.png") no-repeat center;
      margin: 50px auto;
      padding-top: 10px;

      height: 800px;
      .info-box{
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 26px;

        color: #000000;
        &.right{
          padding: 0 10% 0 43%;
        }

        &.left{
          padding: 0 43% 0 10%;
        }

        &:nth-child(1){margin-top: 20px!important;}
        &:nth-child(2){margin-top: 40px!important;}
        &:nth-child(3){margin-top: 47px!important;}
        &:nth-child(4){margin-top: 40px!important;}
        &:nth-child(5){margin-top: 39px!important;}
        &:nth-child(6){margin-top: 45px!important;}
      }

    }

  }
}

@media screen and (max-width: 450px){
  .results{
    .container {
      padding: 20px 0;
    }
      h2{
      font-size: 24px!important;
      line-height: 29px!important;
    }
    .content{
      margin:30px 0 !important;
      padding-top:18px !important;
      background: url("/img/results-bg-mobile.png") no-repeat center !important;
      .info-box{
        font-size: 16px !important;
        line-height: 20px !important;
        margin: 20px 0 !important;
        &.left{
          padding: 0 104px 0 15px !important;
        }
        &.right{
          padding: 0 15px 0 104px !important;
        }

        &:nth-child(1){margin-top: 20px!important;}
        &:nth-child(2){margin-top: 58px!important;}
        &:nth-child(3){margin-top: 47px!important;}
        &:nth-child(4){margin-top: 31px!important;}
        &:nth-child(5){margin-top: 39px!important;}
        &:nth-child(6){margin-top: 57px!important;}
      }
    }
  }
}