.results{
  background: url("/img/results-bg-long.png") no-repeat center 210px;
  .container{
    padding: 50px 0;




    h2{
      margin-left: 15px;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      /* identical to box height */

      color: #0080C9;
    }
    .content{


      margin: 50px auto;
      padding-top: 10px;

      height: 800px;
      .info-box{
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 26px;

        color: #000000;
        &.right{
          padding: 0 10% 0 43%;
        }

        &.left{
          padding: 0 43% 0 10%;
        }

        &:nth-child(1){margin-top: 20px}
        &:nth-child(2){margin-top: 67px}
        &:nth-child(3){margin-top: 47px}
        &:nth-child(4){margin-top: 40px}
        &:nth-child(5){margin-top: 55px;}
        &:nth-child(6){margin-top: 45px}
      }

    }

  }
}
@media screen and (max-width: 768px){
  .results{

    .container{

      .content{

        .info-box{

          &:nth-child(1){margin-top: 20px}
          &:nth-child(2){margin-top: 30px}
          &:nth-child(3){margin-top: 22px}
          &:nth-child(4){margin-top: 19px}
          &:nth-child(5){margin-top: 23px}
          &:nth-child(6){margin-top: 28px}
        }

      }

    }
  }
}

@media screen and (max-width: 450px){
  .results{
    background: url(/img/results-bg-long.png) no-repeat -400px center;
    background-size: 309%;
    .container {
      padding: 20px 0;
    }
      h2{
      font-size: 24px!important;
      line-height: 29px!important;
    }
    .content{
      margin:30px 0 !important;
      padding-top:1px;
      //background: url("/img/results-bg-mobile.png") no-repeat center !important;
      .info-box{
        font-size: 16px !important;
        line-height: 20px !important;
        margin: 20px 0 !important;
        &.left{
          padding: 0 104px 0 15px !important;
        }
        &.right{
          padding: 0 15px 0 104px !important;
        }

        &:nth-child(1){margin-top: 20px;}
        &:nth-child(2){margin-top: 49px;}
        &:nth-child(3){margin-top: 35px;}
        &:nth-child(4){margin-top: 38px;}
        &:nth-child(5){margin-top: 36px;}
        &:nth-child(6){margin-top: 43px;}
      }
    }
  }
}

@media screen and (max-width: 375px){
  .results{
    background: url(/img/results-bg-long.png) no-repeat -350px 150px;
    background-size: 309%;
    .container{
      padding: 20px 0;
      .content{
        height: auto;
        .info-box{

          &:nth-child(1){margin-top: 11px !important}
          &:nth-child(2){margin-top: 30px !important}
          &:nth-child(3){margin-top: 0 !important}
          &:nth-child(4){margin-top: -10px !important}
          &:nth-child(5){margin-top: -8px !important}
          &:nth-child(6){margin-top: 28px !important}
        }

      }

    }
  }
}