.start-desc{
  .info-box{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
    //height: 176px;
    padding: 36px 48px 53px 48px;
  }
}

.start {
  position: relative;
  padding-top: 97px;
  &::after {
    content: "";
    background: url("/img/rus-bg.jpg") no-repeat center;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  .container{
    min-height: 560px;
    position: relative;
  }

  .title{
    padding-top: 21px;
    z-index:10;
    h1{
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;

      color: #C90C0F;

      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    }
    .desc{
      font-style: normal;
      font-weight: bold;
      font-size: 21px;
      line-height: 26px;

      color: #003770;

      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    }

  }
  .reg-list{
    width: 240px;
    position:absolute;
    top:0;
    right:0;
    background: rgba(51, 181, 255, 0.7);
    border-radius: 0px 0px 8px 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    color: #000000;
    z-index:10;
    padding: 17px 18px;
    max-width: 256px;
    ol{
      margin-left:18px;
      padding: 0;
      li{
        margin-bottom: 10px;
        &.active{
          color: white;
          font-weight: bold;
        }
      }
    }
    .fold{
      span{
        display: none;
        margin: auto;
        text-align: center;
      }
      img{
        display: block;
        margin: auto;
        transform: rotate(180deg);
      }
      height: 30px;
    }

    &.folded{

      ol{
        display: none;
      }
      .fold{
        height: 50px !important;
        img{
          transform: rotate(0deg);
          margin-top: 10px;


        }
        span{
          display: block !important;
        }
      }
    }
  }
  .map{
    //position:absolute;
    //top:45px;
    //right:0;
    z-index:0;
    margin-top: -99px;
    img{
      width:100%;
    }
  }

  .legend{
    width: 473px;
    position:absolute;
    bottom: 48px;
    left: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #000000;

    img{
      margin-right: 10px;
      display: inline-block;
      vertical-align: top;
      padding-bottom: 10px;
    }
    span {
      width: 340px;
      display: inline-block;
      padding-bottom: 10px;
    }
  }
}

@media screen and (min-width: 1280px){
  .start{
    .container{
      max-width: 1170px !important;
    }
    .map{
      img{
        width:100%;
        padding-bottom:60px;
      }
    }
  }

}

@media screen and (max-width: 450px){
  .start{
    padding-top: 0!important;
    .map, .legend, .info-box, .reg-list, .header{
      position: relative;
      top:0;
      left: 0;
      right: 0;
    }

    .reg-list{
      width: 100%;
      max-width: 450px;
      border-radius: 0;
    }

    .header{
      padding: 0 10px;
      .gerb img{
        width:80px;
      }
      .title{
        width: 75%;
        h1{
          font-weight: bold;
          font-size: 21px;
          line-height: 26px;
        }
        .desc{
          font-weight: bold;
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
    .map img{
      width:100%;
    }
    .container{
      min-height: 300px;
      position: relative;
      padding: 0;
    }

    .legend{
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      padding: 0 10px;
      width: auto;
      span{
        max-width:70%;
      }
    }
    .info-box{
      width: 100%;
      border: none;
      box-shadow: none !important;
      border-radius: 0;
      height: 176px;
      padding: 15px 19px 10px 19px;
      background: #FFFDF9;
    }

  }

  .start::after {
    background: url(/img/rus-bg.jpg) no-repeat -82px 0px;
    background-size:cover;
    position: absolute;
  }


}