html,
body {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased !important;
}

#app{
  width:100%;
  overflow: hidden;
}


.container .row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}



.new-slider{
  margin-bottom: 20px;
  padding: 20px 0;
  .swiper-slide img{
    width: 100%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
      margin-bottom: 33px;

  }
  .swiper-pagination-bullets{
    margin-bottom: -16px;
  }
  .swiper-button-prev{
    background: #FFFFFF;
    border-radius: 8px;
    transform: rotate(-180deg);
    width: 60px;
    height: 60px;
    left: 7%;
    margin-top:-35px;
    opacity: 0.6;
    &:hover{
      opacity: 0.9;
    }
    img{
      display: block;
      margin: auto;
      padding: 15px;
    }
  }
  .swiper-button-next{
    background: #FFFFFF;
    border-radius: 8px;
    width: 60px;
    height: 60px;
    right: 7%;
    margin-top:-35px;
    opacity: 0.6;
    &:hover{
      opacity: 0.9;
    }
    img{
      display: block;
      margin: auto;
      padding: 15px;
    }
  }
}

@media screen and (max-width:1024px) {
  .swiper-button-prev, .swiper-button-next{
    display:none;
  }
}

[v-cloak] { display:none; }

.header.red{
  color:white;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  width: 100%;
  height: 60px;
  background: #C90C0F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}
.sub-header.blue{
  width: 100%;
  background: #DCF2FF;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 52px;
  text-align: center;

  color: #0080C9;
  text-transform: uppercase;
  text-align: center;
  height: 52px;
}

ul.red-bullet-ul >li{
  list-style: none;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  padding-bottom: 20px;
  display: inline-flex;
  &:before{
    content:'•';
    padding: 10px;
    margin-top: -14px;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 29px;
    color: #c90c0f;
  }
}



@media screen and (max-width: 450px) {
  body {
    background: #FFFDF9;
  }
  .header.red{
    font-size:18px;
    line-height: 40px;
    height: 40px;
    text-transform: uppercase;
  }
  .sub-header.blue{
    height: auto;
    font-size: 16px !important;
    line-height: 20px !important;
    padding: 10px 30px;
  }

  .m-modal-dialog{
    margin-left: 0;
    margin-top: 0;
    max-width: 100%;
    height: 100%;
    top: 0!important;
    left: 0!important;
    margin: 0!important;
    .m-modal-content{
      padding-top:100px;
      width:100% !important;
      height: 100% !important;
      .video{
        iframe{
          width: 414px;
          height: 231px;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {


  .m-modal-dialog{

    .m-modal-content{

      .video{
        iframe{
          width: 375px;
          height: 210px;
        }
      }
    }
  }
}

.video{
  padding: 10px;
}



@media screen and (min-width: 1200px){
  .container.container-wide{
    max-width: 1180px !important;
  }
  .container{
    max-width: 960px ;
  }

}

@media screen and (min-width: 768px){
  .container.container-wide{
    max-width: 768px ;
  }
  .container{
    max-width: 768px ;
  }

  .m-modal-dialog{
    width: 750px!important;
    margin-left: -381px !important;
    .m-modal-content{
      width: 700px!important;
      height: 400px !important;
      .video{
        iframe{
          width: 650px;
          height: 365px;
        }
      }
    }
  }


}

@media screen and (min-width: 1024px){
  .container.container-wide{
    max-width: 1024px ;
  }
  .container{
    max-width: 1024px ;
  }
}

